* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*------------Header inicio---------------*/
header {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 130px;
  /* background: url(/img/Header/head.jpg) no-repeat; */
  background: #fff8f8;
  display: flex; /* Para alinear elementos en fila */
  justify-content: flex-end; /* Espacio entre navegación y logo */
  align-items: center; /* Centrar verticalmente */
  flex-direction: row-reverse; /* Alinear logo a la derecha */
}

.name {
  /* position: absolute;
  top: 10px;
  left: 15px; */
  color: #201f1f; /* Color del texto */
  font-size: 1.5em; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
}

.logo {
  position: relative;
  width: 200px; /* Ancho del logo */
  height: 100px; /* Alto del logo */
  display: flex; /* Para alinear el logo en el centro */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.logo img {
  position: absolute;
  width: 150px;
  left: 15px;
  /* bottom: 0; */
  mix-blend-mode: multiply; /* Mezcla de colores */
}

/*------------Nav inicio---------------*/
/* Estilos de la barra de navegación */
.navbar {
  margin-left: 100px;
  display: flex; /* Para alinear los enlaces en fila */
  justify-content: center; /* Centrar los enlaces horizontalmente */
  align-items: center; /* Centrar los enlaces verticalmente */
}
.navbar .nav-links {
  list-style: none; /* Quita los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Para que los enlaces estén en fila */
}

.navbar .nav-links li {
  margin-right: 30px; /* Espacio entre cada enlace */
}

.navbar .nav-links li:last-child {
  margin-right: 0; /* No hay margen a la derecha en el último elemento */
}

.navbar .nav-links a {
  color: #201f1f; /* Color del texto de los enlaces */
  text-decoration: none; /* Quita el subrayado */
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s ease; /* Transición suave al pasar el mouse */
}

.navbar .nav-links a:hover {
  color: #007bff; /* Color de los enlaces al pasar el mouse */
}
/*------------Nav fin---------------*/

/*------------Header fin---------------*/

/*------------Main inicio---------------*/
main {
  padding: 20px;
  max-width: 960px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
/*------------Main fin---------------*/

/*------------Responsive---------------*/

@media (max-width: 430px) {
  header {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Ancho completo en pantallas pequeñas */
    padding: 10px; /* Añade un poco de espacio alrededor */
  }
  .navbar {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
    margin-top: 10px; /* Añade un margen superior para separación */
  }

  .nav-links {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra los enlaces horizontalmente */
  }

  .nav-links li {
    margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
    margin-bottom: 10px; /* Añade un margen inferior para separación */
  }

  .navbar .nav-links li a {
    font-size: 1em; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }

  .name {
    font-size: 1em; /* Ajusta el tamaño del texto en pantallas pequeñas */
    /*  margin-bottom: 10px; Añade un margen inferior para separación */
  }

  .logo {
    width: 80px; /* Ajusta el ancho del logo en pantallas pequeñas */
    height: 80px; /* Ajusta la altura del logo en pantallas pequeñas */
  }

  .logo img {
    width: 80px; /* Ajusta el tamaño del logo en pantallas pequeñas */
  }
}
