#slide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 301px;
}

#slide ul {
  position: relative;
  width: 1000px;
  height: 301px;
  top: 0;
  left: 0;
  background: url(/img/Slide/sl1.avif) no-repeat;
  background-size: cover;
}

#slide ul li img {
  width: 1000px;
  height: 301px;
  position: absolute;
  opacity: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

#slide ul li label {
  position: relative;
  z-index: 3;
  top: 304px;
  left: 440px;
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background: blue;
  border: 3px solid #fff;
  cursor: pointer;
  border-radius: 100%;
}

#slide ul li label:hover {
  background: #aaa;
}

#slide ul li label:active {
  background: magenta;
}

#slide ul li input {
  display: none;
}

#slide ul li input#boton-1:checked ~ #foto-1,
#slide ul li input#boton-2:checked ~ #foto-2,
#slide ul li input#boton-3:checked ~ #foto-3,
#slide ul li input#boton-4:checked ~ #foto-4,
#slide ul li input#boton-5:checked ~ #foto-5,
#slide ul li input#boton-6:checked ~ #foto-6,
#slide ul li input#boton-7:checked ~ #foto-7 {
  opacity: 1;
}

#botoneraSlide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 26px;
  background: rgb(4, 4, 178);
}

@media (max-width: 430px) {
  #slide {
    width: 100%;
    height: 150px;
  }

  #slide ul {
    width: 100%;
    height: auto;
  }

  #slide ul li img {
    width: 100%;
    height: 150px;
  }

  #botoneraSlide {
    width: 100%;
    height: 40px;
  }

  #slide ul li label {
    top: 160px;
    left: 25%;
    width: 15px;
    height: 15px;
    margin: 0 8px;
  }

  #slide ul li input#boton-1:checked ~ #foto-1,
  #slide ul li input#boton-2:checked ~ #foto-2,
  #slide ul li input#boton-3:checked ~ #foto-3,
  #slide ul li input#boton-4:checked ~ #foto-4,
  #slide ul li input#boton-5:checked ~ #foto-5,
  #slide ul li input#boton-6:checked ~ #foto-6,
  #slide ul li input#boton-7:checked ~ #foto-7 {
    opacity: 1;
  }
}
